<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo-container"></div>
      </div>
      <div class="col-md-3 col-sm-3 col-3 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{ menu_icon }}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li
              routerLink="/StudentList"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Home
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-3 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{ menu_icon }}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li
              routerLink="/StudentList"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Student List
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-3 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{ menu_icon }}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li
              routerLink="/CourseList"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Course List
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
