<div mat-dialog-title class="dialog-title">
  <button
    mat-icon-button
    aria-label="close dialog"
    style="float: right"
    mat-dialog-close
    (click)="closeDialog()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<table class="table table-primary">
  <thead>
    <tr>
      <th colspan="4">Selected Student Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><b>This is the details for</b></td>
      <td>
        {{ student[0].firstName }}
      </td>
      <td>
        {{ student[0].lastName }}
      </td>
    </tr>
    <tr>
      <td><b>Student Code</b></td>
      <td>
        {{ student[0].studentCode }}
      </td>
      <td><b>NIC</b></td>
      <td>
        {{ student[0].nic }}
      </td>
    </tr>
    <tr>
      <td><b>Mobile</b></td>
      <td>
        {{ student[0].mobile }}
      </td>
      <td><b>Email</b></td>
      <td>
        {{ student[0].email }}
      </td>
    </tr>
    <tr>
      <td><b>Date of Birth</b></td>
      <td>{{ dobstring }}</td>
      <td><b>Address</b></td>
      <td>{{ student[0].address }}</td>
    </tr>
  </tbody>
</table>
