<!-- <app-accordian [headerText]="'Course Types'" [accoColor]="'bg-primary'">
  <div class="row">
    <div class="col-6">Course 1</div>
    <div class="col-6">Course 2</div>
  </div>
</app-accordian>
<app-accordian [headerText]="'Course Details'" [accoColor]="'bg-secondary'">
  <div class="row">
    <div class="col-6">Course Details</div>
  </div>
</app-accordian> -->
<div class="card" *ngFor="let course of courses; let i = index">
  <app-accordian
    [headerText]="course.courseTypeName"
    [accoColor]="'bg-secondary'"
  >
    <div class="card-body">
      {{ course.courseTypeDescription }}
    </div>
  </app-accordian>
</div>
